{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Error 404{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>Oops! An Error Occurred <small>The server returned a "404 Not Found".</small></h1>

            <div class="alert alert-danger">Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</div>
        </div>
    </div>

{% endblock %}