{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/estilos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <h1>
            Información de alimentos {% if app.user %} para {{ app.user.username }} {% endif %}
        </h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">inicio</a></li>
            <li><a href="{{ path('alimentos_listar') }}">ver alimentos</a></li>
            <li><a href="{{ path('alimentos_insertar') }}">insertar alimento</a></li>
            <li><a href="{{ path('alimentos_buscar') }}">buscar por nombre</a></li>
            <li><a href="{{ path('tipos_index') }}">Tipos de Alimento</a></li>
            <li><a href="{{ path('propiedades_index') }}">Propiedades de Alimento</a></li>
            {% if app.user %}
                <li><a href="{{ path('logout') }}">Cerrar sesion</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Iniciar sesion</a></li>
            {% endif %}

        </ul>
    </nav>
    <main>
        {% block contenido %}
        {% endblock %}
    </main>
    <footer>
        - DWES -
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
