{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block contenido %}
    {% if error %}
        <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
<!--
        <input type="hidden" name="_target_path" value="/alimentos/" />
-->
        <button type="submit">login</button>
    </form>
{% endblock %}