{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Buscar alimentos por nombre{% endblock %}

{% block contenido %}
<form name="formBusqueda"
      action="{{ path('alimentos_buscar') }}" method="POST">
    <label for="nombre">nombre alimento:</label>
    <input type="text" name="nombre" id="nombre" value="{{ nombre }}" />
    <span>(puedes utilizar '%' como comodin)</span>
    <label for="energia">energia alimento:</label>
    <input type="text" name="energia" id="energia" value="{{ energia }}" />
    <input type="submit" value="buscar" />
</form>

{% if alimentos %}
    {%
        include 'AppBundle:alimento/partials:tabla-alimentos.html.twig'
    %}
{% endif %}
{% endblock %}