{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Insertar alimento{% endblock %}

{% block contenido %}
    {% if mensajes is defined %}
        {% for mensaje in mensajes %}
            <div class="mensaje">{{ mensaje }}</div>
        {% endfor %}
    {% endif %}

    {% if alimento is defined %}
        {% set action = path('alimentos_edit', {'id': alimento.id }) %}
    {% else %}
        {% set action = path('alimentos_insertar') %}
    {% endif %}

    <form action="{{ action }}" method="post" novalidate enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    {{ form_label(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(form.energia) }}
                    {{ form_errors(form.energia) }}
                    {{ form_widget(form.energia) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {{ form_label(form.proteina) }}
                    {{ form_errors(form.proteina) }}
                    {{ form_widget(form.proteina) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(form.hidratocarbono) }}
                    {{ form_errors(form.hidratocarbono) }}
                    {{ form_widget(form.hidratocarbono) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {{ form_label(form.fibra) }}
                    {{ form_errors(form.fibra) }}
                    {{ form_widget(form.fibra) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(form.grasatotal) }}
                    {{ form_errors(form.grasatotal) }}
                    {{ form_widget(form.grasatotal) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{ form_label(form.tipo) }}
                    {{ form_errors(form.tipo) }}
                    {{ form_widget(form.tipo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{ form_label(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{ form_widget(form.insertar) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="alert-info">* Los valores deben referirse a 100 g del alimento</div>
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    </form>
{% endblock %}