{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Listar alimentos{% endblock %}

{% block contenido %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% set alimentos = entidades %}

    {%
        include 'AppBundle:alimento/partials:tabla-alimentos.html.twig' with alimentos
    %}
{% endblock %}