{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Alimento - {{ alimento.nombre }}
{% endblock %}

{% block contenido %}
<h1>{{ alimento.nombre }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive img-circle" src="{{ vich_uploader_asset(alimento, 'imageFile') }}" alt="Imagen de {{ alimento.nombre }}" />
            </div>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>Energia</td>
                        <td>{{ alimento.energia }}</td>
                    </tr>
                    <tr>
                        <td>Proteina</td>
                        <td>{{ alimento.proteina }}</td>
                    </tr>
                    <tr>
                        <td>Hidratos de Carbono</td>
                        <td>{{ alimento.hidratocarbono }}</td>
                    </tr>
                    <tr>
                        <td>Fibra</td>
                        <td>{{ alimento.fibra }}</td>
                    </tr>
                    <tr>
                        <td>Grasa total</td>
                        <td>{{ alimento.grasatotal }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}