<table>
    <tr>
        <th>alimento (por 100g)</th>
        <th>energía (Kcal)</th>
        <th>grasa (g)</th>
        <th>Tipo</th>
        <th>Operaciones</th>
    </tr>

    {% for alimento in alimentos %}
        <tr>
            <td>
                <a href="{{ path('alimentos_ver', { 'id' : alimento.id }) }}">
                    {{ alimento.nombre }}
                </a>
            </td>
            <td>{{ alimento.energia }}</td>
            <td>{{ alimento.grasatotal }}</td>
            <td>{% if alimento.tipo is not null %}
                    {{ alimento.tipo }}
                {% else %}
                    -
                {% endif %}</td>
            <td>
                <a href="{{ path('alimentos_eliminar', {'id': alimento.id }) }}">Eliminar</a>
                <a href="{{ path('alimentos_edit', {'id': alimento.id }) }}">Editar</a>
            </td>
        </tr>
    {% endfor %}
</table>