{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Tipo edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edita" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('tipos_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
