{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Tipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td><a href="{{ path('tipos_show', { 'id': tipo.id }) }}">{{ tipo.id }}</a></td>
                <td>{{ tipo.nombre }}</td>
                <td>{{ tipo.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipos_show', { 'id': tipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipos_edit', { 'id': tipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipos_new') }}">Create a new tipo</a>
        </li>
    </ul>
{% endblock %}
