{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Tipo creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tipos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
