{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Tipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipos_edit', { 'id': tipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
