{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Propiedades list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propiedad in entidades %}
            <tr>
                <td><a href="{{ path('propiedades_show', { 'id': propiedad.id }) }}">{{ propiedad.id }}</a></td>
                <td>{{ propiedad.nombre }}</td>
                <td>{{ propiedad.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('propiedades_show', { 'id': propiedad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('propiedades_edit', { 'id': propiedad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propiedades_new') }}">Create a new propiedad</a>
        </li>
    </ul>
{% endblock %}
