{% extends 'AppBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Propiedad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propiedad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ propiedad.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ propiedad.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propiedades_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('propiedades_edit', { 'id': propiedad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
