{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Bienvenido a la aplicación de alimentos!{% endblock %}

{% block contenido %}
    <h2>Inicio {% if app.user %} usuario: {{ user.username }} {% endif %}</h2>
    <time> Fecha: {{ fecha }}</time>
    <p>{{ mensaje }}</p>
{% endblock %}